################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Chapter 19 - Dispatching Requests/Dispatch/Dispatch/bin
/Chapter 19 - Dispatching Requests/Dispatch/Dispatch/obj/Debug
/Chapter 19 - Dispatching Requests/Dispatch/.vs/config/applicationhost.config
/Chapter 19 - Dispatching Requests/Dispatch/.vs/Dispatch/v14/.suo
